@charset "utf-8";
body,div,h1,h2,ul,li,a,p,input{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
/*自定义按钮*/
.button-block{
	background: rgb(255, 90, 95);
	display: inline-block;
}
.button-block a{
	line-height:inherit;
	height: inherit;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: #eee;
}
.button-block:hover{
	background: rgb(255, 130, 200);
}
#header{
	background-color: #E8E6E6;
	height: 600px;
	position: relative;
}
#content{

}
#nav{
	/*background-color: #ccc;*/
	height: 35px;
	margin: 0 auto;
	position: relative;
	padding: 10px 10px 20px 10px;
	/*z-index: 1000;*/
}
#nav .logo{
	float: left;
	line-height:35px;
	margin-left: 20px;
}
#nav ul{
	list-style: none;
}
#nav ul li{
	display: inline-block;
	line-height:35px;
	float: right; 
	margin-right: 20px;
}
#nav ul li a{
	line-height:inherit;
	height: inherit;
	display: inline-block;
	text-decoration: none;
	color: #eee;
	font-size: 1em;
}
#nav #login{

}
#nav #user{
	display: none;
}
#slideshow-list{
	position: absolute;
	height: inherit;
	overflow: hidden;
	width: 100%;
}
#slideshow-list ul{
	list-style: none;
	height: inherit;
}
#slideshow-list ul li{
	height: inherit;
	overflow: hidden;
	display: none;
}
#slideshow-list ul li:first-child{
	display: block;
}
#slideshow-list ul li img{
	width: 1280px;//按分辨率设置大小
	overflow: hidden;
}
#banner{

}
#banner .inner{
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 100px;
	color: rgba(0,0,0,0.7);
}
#banner .inner p{
	line-height: 25px;
}
.button{
	border: none;
	background: #333;
	color: #eee;
}
.inner .button{
	/*margin-top: 20px;*/
	margin: 0 auto;
	line-height:40px;
	/*padding: 10px;*/
	background: rgba(255,255,255,0.5);
	width: 20%;
}
.inner .button:hover{
	background: rgba(0,0,0,0.5);
}
.inner .button a{
	line-height:inherit;
	height: inherit;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: rgb(114, 105, 117);
}
.inner .button a:hover{
	color: #eee;
}
#search-bk{
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
    left: 0;
    height: 40px;
    line-height:40px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: absolute;
    right: 0;
    margin: 0 auto;	
}
#search-content{
	line-height:inherit;
	height: inherit;
	width: 65%;
	margin: 0 auto;
	text-align:center;
}
/*#search-content input{
	line-height:inherit;
	height: inherit;
	display: inline-block;
	margin-right: -7px;
}*/
#search-form .search-input{
	line-height:inherit;
	height: inherit;
	display: inline-block;
	float: left;
	padding: 0 8px;
	border-width:0 1px;
}
#location{
	width: 30%;
}
#checkin{
	width: 25%;
}
#checkout{
	width: 25%;
}
#submit-location{
	color: #eee;
	/*padding: 30px 30px;*/
	background: rgb(255, 90, 95);
}
#submit-location:hover{
	background: rgb(255, 130, 135);
}
#submit-location a{
	line-height:inherit;
	height: inherit;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: #eee;
}
#search-content .location-block{
	display: none;
	overflow: hidden;
	padding: 10px;
	border:solid rgba(0,0,0,0.3);
	border-width:1px 0;
	background: rgba(0,0,0,0.7);
	border-radius: 0.4em;
	line-height: 1.5em;
	width:90%;
}
.location-block a{
	float: left;
	padding: 0 5px;
	display: inline-block;
	text-decoration: none;
	color: #eee;
	font-size: 0.8em;
}
#search-province{

}
#search-city{

}
#search-county{

}

#content .green-section{
	background: #77E4D1;
	text-align: center;
	color: #FFF;
	padding: 100px 0;
}
#content .green-section .wrapper{
	max-width: 720px;
	margin: 0 auto;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}
#content .green-section .wrapper .hr{
	background: #93F5E4;
	/*width: 60%;*/
}
.wrapper div{
	margin: 25px auto;
}
#content .green-section .wrapper .icon-group{

}
#content .green-section .wrapper .icon-group .icon{
	display: inline-block;
	width: 60px;
	height: 60px;
	border:1px solid rgba(112, 189, 195, 0.5);
	transform:rotate(45deg);
	margin: 18px;
}
.gray-section{
	background: #1E2923;
	color: #fff;
}
.gray-section .img-section{
	width: 45%;
}
.img-section img{
	width: 100%;
}
.gray-section .text-section{
	width: 55%;
}
.article-preview > div{
	float: left;
	/*font-size: 0;*/
}
.article-preview:nth-child(odd){
	background-color:rgba(255,255,255,0.05);
}
.article-preview:after{
	content: '';
	clear: both;
	display: block;
}
.gray-section .text-section .text-local{
	margin:0 auto;
	max-width: 80%;
	margin-top: 70px;
}
.gray-section .text-section .text-local h2{
	position: relative;
	bottom: 20px;
}
.gray-section .text-section .text-local p{
	font-size: 20px;
	letter-spacing: 1px;
}
#footer{

}
/*注册框样式*/
.label_better{
	padding-top: 15px;
	background: rgba(255, 255, 255, 0.10);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border: none;
	/*color: white;*/
	padding: 10px 15px;
	border-radius: 25px;
	font-size: 16px;
	/*outline: none;*/
	display: block;
	margin: 15px;
}
#register-divsion,#login-divsion{
	background: #eee;
	/*display: none;*/
	/*width: 100%;*/
}
#register-sendcode{
	background: rgb(90, 124, 255);
	padding: 10px 5px;
	font-size: 16px;
	border-radius: 18px;
}
#register-sendcode:hover{
	background: rgb(142, 166, 212);
}
#register-submit,#login-submit{
	border-radius: 25px;
	padding: 10px 15px;
	font-size: 16px;
	margin-left: 16px;
	margin-top: 10px; 
}
#register-cancel,#login-cancel{
	border-radius: 25px;
	padding: 10px 15px;
	display: inline-block;
	font-size: 16px;
	margin-left: 38px;
	margin-top: 10px; 
}
/*titlt*/
.register-titlt,.login-titlt{
	margin: 0,auto;
	margin-bottom: 10px;
	text-align: center;
	color: #EEE;
	font-size: 20px;
}
#register-content .hr,#login-content .hr{
	background: #4A4A4A;
}
